[Unit]
Description=Tristate ambience switcher daemon
Requires=lipstick.service
After=user-session.target lipstick.service

[Service]
ExecStart=/usr/bin/triambience

[Install]
WantedBy=post-user-session.target
